/*голубой текст акцент, фон активный элемент  2196f3
  черный тескт Лого 000000
  навигации, фильтры цвет текста черный, заголовки картинок 212121
  контакты цвет серый, подписи картинок 757575
  белый цвет текста основной FFFFFF 100%
  белый цвет текста контакты FFFFFF 60%
  фон подвал, фон герой - 2F303A
  фон неактивные фильтры - F5F4FA
  Лого шрифт Raleway 700
  Roboto- 400, 500, 700, 900
  фон футтер, фон герой 2F303A
  фон наша команда F5F4FA
  фон белый FFFFFF
  фон белый E5E5E5
  убрать точки в списке глобально
  ul {
  list-style: none;
}заголовки секций шрифт цвет - 212121
  */

:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --logo-text-color: #000000;
  --secondary-bg-color: #2f303a;
  --button-accent-color: #188ce8;
  --third-bg-color: #f5f4fa;
  --botom-header-br-color: #ececec;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, monospace;
  letter-spacing: 0.03em;
}
/* Container index*/
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Section padding*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0px;
}
/* List without dots design*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0px;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
h1,
h2,
h3 {
  margin: 0px;
}
p {
  margin: 0px;
}
/*WebStudio Logo header*/
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  color: var(--logo-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/*nav*/
.header {
  border-bottom: 1px solid var(--botom-header-br-color);
}
.main-nav {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  display: flex;
}
.nav-list {
  display: flex;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link-active {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/*contact information font color*/
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-list .item + .item {
  margin-left: 50px;
}
.contact-list .link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
/*h2 section font color*/
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hero {
  background: var(--secondary-bg-color);
  text-align: center;
}
/*Hero*/
.hero section {
  align-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-primary {
  display: inline-block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  color: var(--primary-white-color);
  background: var(--accent-color);
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
}
.button-primary:focus,
.button-primary:hover {
  background: var(--button-accent-color);
}
/*Особенности*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
}
.feature-list .item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 0px;
}
.feature-list .item:nth-child(4n) {
  margin-right: 0px;
}
.feature-list .title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
}
/*Чем мы занимаемся*/
.list {
  display: flex;
  margin-right: 30px;
}
.list:last-child {
  margin-right: 0px;
}
/*Наша команда*/
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--third-bg-color);
}
.team-list {
  display: flex;
}
.card {
  margin-right: 30px;
}
.card:last-child {
  margin-right: 0px;
}
.team-card-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .title {
  padding-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .card-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list.card-name:last-child.card-description:last-child {
  margin-right: 0px;
}
/*Подвал*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
.footer-text {
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*WebStudio Logo footer*/
.footer .logo {
  display: block;
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 0px;
  font-family: Raleway, sans-serif;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/*contacts footer*/
.footer-link {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--primary-white-color);
}
/*Фильтры Портфолио Наши работы*/
.logo.footer {
  display: inline;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .button {
  border-color: transparent;
  padding: 6px 22px;
  font-weight: 700;
  color: var(--title-text-color);
  background-color: var(--third-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
}
.button-list .button:hover,
.button-list .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background: var(--button-accent-color);
  color: var(--primary-white-color);
  border-color: transparent;
}
.button-item {
  display: flex;
  margin-right: 8px;
}
.container .portfolio {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item:nth-child(3n + 3) {
  margin-right: 0px;
}
.portfolio-item {
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-border {
  background: var(--primary-white-color);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio .title {
  margin-bottom: 4px;
  margin-top: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .card-description {
  margin-bottom: 0px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
